@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html {
    font-family: "Manrope", sans-serif;
    --cor-principal-dark: #dde6ed;
    --cor-secundaria-dark: #9db2bf;
    --cor-terciaria-dark: #27374d;
    --cor-quartenaria-dark: #526d82;
    --gradiente-dark: radial-gradient(
        circle,
        rgba(45, 68, 87, 1) 0%,
        rgba(18, 36, 50, 1) 100%
    );
    --hover-background-dark: rgba(255, 255, 255, 0.25);
    --cor-principal-light: #27374d;
    --cor-secundaria-light: #526d82;
    --cor-terciaria-light: #dde6ed;
    --cor-quartenaria-light: #9db2bf;
    --gradiente-light: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    --hover-background-light: rgba(0, 0, 0, 0.25);
    --fs-1: 1.5rem;
    --fs-2: 1rem;
    --fs-3: 0.8rem;
    --fw-1: 700;
    --fw-2: 400;
}

.dark {
    --cor-principal: var(--cor-principal-dark);
    --cor-secundaria: var(--cor-secundaria-dark);
    --cor-terciaria: var(--cor-terciaria-dark);
    --cor-quartenaria: var(--cor-quartenaria-dark);
    --gradiente: var(--gradiente-dark);
    --hover-background: var(--hover-background-dark);
    transition: 0.5s;
}

.light {
    --cor-principal: var(--cor-principal-light);
    --cor-secundaria: var(--cor-secundaria-light);
    --cor-terciaria: var(--cor-terciaria-light);
    --cor-quartenaria: var(--cor-quartenaria-light);
    --gradiente: var(--gradiente-light);
    --hover-background: var(--hover-background-light);
    transition: 0.5s;
}

body {
    display: flex;
    background: var(--gradiente);
    color: var(--cor-principal);
    min-height: 100vh;
}

/* INFORMAÇÕES PESSOAIS */

.infoPessoal {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 2rem 1rem;
}

.infoPessoal__img {
    width: 150px;
}

.infoPessoal__img img {
    width: 100%;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.infoPessoal h1 {
    width: 100%;
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    margin: 0.25rem 0;
}

.infoPessoal h2 {
    width: 100%;
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    margin: 0.25rem 0;
}

.infoPessoal__git {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoPessoal__git:hover {
    transition: 0.25s;
    transform: scale(1.1);
    color: var(--cor-secundaria-dark);
}

/* CONTAINER */

.container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 3rem;
}

/* BOTÃO DE TEMA */
#theme-button {
    align-self: flex-end;
    justify-self: center;
    border: none;
    background: none;
}

#theme-button:hover {
    transition: 0.25s;
    transform: scale(1.1);
    cursor: pointer;
}

#theme-button span {
    color: var(--cor-principal);
    font-size: 30px;
}

/* SOBRE MIM */

.sobreMim {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sobreMim__card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sobreMim__card-bv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.sobreMim__card-bv h2 {
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    text-transform: uppercase;
}

.sobreMim__card-bv p {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
}

.sobreMim__card-info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.sobreMim__card-info_local {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
}

.sobreMim__card-info_contato a,
.sobreMim__card-info_email a,
.sobreMim__card-info_linkedin a {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
}

.sobreMim__card-info_local:hover,
.sobreMim__card-info_contato:hover,
.sobreMim__card-info_email:hover,
.sobreMim__card-info_linkedin:hover {
    transition: 0.25s;
    color: var(--cor-secundaria);
    cursor: pointer;
    text-decoration: underline;
}

/* MINHA JORNADA */
.minhaJornada {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;
}

.minhaJornada__container h2 {
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.minhaJornada__card {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
}

.minhaJornada__card-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
}

.minhaJornada__card-item {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1rem;
}

.img{
    width: 250px;
    height: 150px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.feira{
    background-image: url("../assets/images/feira.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.quartel {
    background-image: url("../assets/images/entrada-quartel.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.casamento {
    background-image: url("../assets/images/casamento.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tech {
    background-image: url("https://images.unsplash.com/photo-1542762933-ab3502717ce7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.minhaJornada__card-item p {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    text-align: justify;
}

/* INSPIRAÇÕES */

.networking {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;
}

.networking__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.networking__container h2 {
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.networking__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
}

.networking__item {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.networking__item a {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--cor-principal);
    row-gap: 0.5rem;

}

.networking__item h3 {
    font-size: var(--fs-2);
    font-weight: var(--fw-1);
    text-transform: uppercase;
}

.networking__item p {
    display: none;
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
}

.networking__item a:hover > p {
    display: block;
}

.networking__item:hover {
    transition: 0.25s;
    background-color: var(--hover-background);
    cursor: pointer;
}

.networking__item img {
    width: 125px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.whats-button {
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.whats-button button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
    font-size: 30px;
    font-weight: var(--fw-1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    transition: 0.25s;
    cursor: pointer;
}

.whats-button button:hover {
    transition: 0.25s;
    transform: scale(1.1);
}

/* MEDIA QUERIES */
@media screen and (max-width: 578px) {
    body {
        flex-direction: column;
        position: relative;
    }

    #theme-button {
        position: absolute;
        top: 0;
        margin-top: 0.5rem;
    }

    .infoPessoal {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }

    .infoPessoal__img {
        width: 150px;
    }

    .sobreMim {
        width: 100%;
        text-align: center;
    }

    .sobreMim__card-info {
        text-align: center;
    }

    .sobreMim__card-info_local,
    .sobreMim__card-info_contato a,
    .sobreMim__card-info_email a,
    .sobreMim__card-info_linkedin a {
        justify-content: center;
        align-items: center;

    }
    
    .container {
        width: 100%;
        padding: 2rem;
    }

    .minhaJornada__container {
        width: 100%;
        text-align: center;
    }

    .minhaJornada__card-lista {
        justify-content: center;
        row-gap: 1.5rem;
    }

    .networking__container {
        width: 100%;
        text-align: center;
    }

    .networking__lista {
        justify-content: center;
        row-gap: 1.5rem;
    }

    .networking__item a p {
        display: block;
    }
}

@media screen and (min-width:578px) and (max-width: 768px) {
    .infoPessoal__img {
        max-width: 100px;
    }

    .minhaJornada__card-lista {
        justify-content: center;
        row-gap: 1.5rem;
    }

    .networking__lista {
        justify-content: center;
        row-gap: 1.5rem;
    }

    .sobreMim {
        width: 100%;
        text-align: center;
    }

    .sobreMim__card-info {
        text-align: center;
    }

    .sobreMim__card-info_local,
    .sobreMim__card-info_contato a,
    .sobreMim__card-info_email a,
    .sobreMim__card-info_linkedin a {
        justify-content: center;
        align-items: center;

    }
    
    .container {
        width: 100%;
        padding: 2rem;
    }

    .minhaJornada__container {
        width: 100%;
        text-align: center;
    }

    .minhaJornada__card-lista {
        justify-content: center;
        row-gap: 1.5rem;
    }

    .networking__container {
        width: 100%;
        text-align: center;
    }

    .networking__lista {
        justify-content: center;
        row-gap: 1.5rem;
    }

    .networking__item a p {
        display: block;
    }
}